h1 {
  text-align: center;
}

.Wrapper {
  align-items: center;
  background-image: url("https://cdn.patchcdn.com/users/21766/2012/02/T800x600/f67ef214a6fcfcb64a7565d2281e6b18.jpg");
}

.Chat {
  width: 50%;
  border-style: solid;
  height: 500px;
  overflow: scroll;
  background-color: #00D7FF;
}

.input {
  width: 50%;
}

#inputMessage {
  width: 50%;
  display: block;
}

.userMessage {
  background-color: yellow;
  text-align: right;
  width: 50%;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  float: right;
  margin-bottom: 10px;
}

.botMessage {
  background-color: white;
  text-align: left;
  width: 50%;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  float: left;
  display: block;
  margin-bottom: 10px;
}

.selectBoxWrapper {
  width: 50%;
}

.selectBox {
  display: inline;
}

.selectBox:hover {
  background-color: yellow;
  cursor: grab;
}