h1 {
  text-align: center;
}

.Wrapper {
  align-items: center;
}

.Chat {
  width: 50%;
  border-style: solid;
  height: 500px;
  overflow: scroll;
}

.input {
  width: 50%;
}

#inputMessage {
  width: 50%;
  display: block;
}

.userMessage {
  background-color: yellow;
  text-align: right;
}

.botMessage {
  background-color: white;
  text-align: left;
}

.selectBoxWrapper {
  width: 50%;
}

.selectBox {
  display: inline;
}

.selectBox:hover {
  background-color: yellow;
  cursor: grab;
}